<% provide(:title) do %>
  Ash Contact #<%= @ash_contact.id %>
<% end %>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th class="col-sm-2">Email</th>
      <td><%= @ash_contact.email %></td>
    </tr>
    <tr>
      <th class="col-sm-2">Trial</th>
      <td><%= @ash_contact.trial %></td>
    </tr>
  </tbody>
</table>

<p>
  <%= link_to "Edit", edit_ash_contact_path(@ash_contact), class: "btn btn-primary" %>
  <%= link_to "Back", ash_contacts_path, class: "btn btn-link" %>
</p>
